{% extends "skeleton/_body.html" %}

{%hyde
    title: "About"
    listing: True
%}

{% block content_body %}
<div style="width: 40em;">
	<table id="pubTable" class="display"></table>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/bib-list.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        bibtexify("/media/sidabras.bib", "pubTable", {'tweet': 'cavilling_elite'});
    });
</script>

{%endblock%}
