{% extends "skeleton/_root.html" %}
{% block all %}
{% if page.categories or page.ding %}
<h3 style="border-bottom: 1px dotted #4d6680;"><a style="text-decoration: none;" href="/category">Tags</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
{% for i in page.categories %}
<a href="/category/{{ i }}.html">{{ i }}</a>
{% if not forloop.last %}
,&nbsp;
{% endif %}
{% endfor %}
{% comment %}
<br/><br/>
<h3 style="border-bottom: 1px dotted #4d6680;">Archives&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
{% endcomment %}
{% else %}
{% endif %}
{% endblock %}
