{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: "You are Not Your Brain: Cravings"
    created: 2013-02-28 22:07:29
    categories: ["Science", "Writings"]
%}

{% block article %}
{% markdown %}
Our body is an intersting machine. The whole system runs without our express knowledge or direction. And a good thing too. Imagine how many times we would forget to breathe, forget to beat our heart, or process food if it was up to ourselves to remember. But this lizard brain, the [Amygdala](http://en.wikipedia.org/wiki/Amygdala), is not a passive system. It is not only responsible for our basic body functions in order for us to live, but it is involved in our reactionary functions as well: fear, sex, instinct, visual, and food. 

Evolution 


Accidental mind  http://refer.ly/aORE 

- cravings are your body asking for something which it knows contains the vitamins it requires

{% endmarkdown %}
{% endblock %}

