{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: "Preconception is the Enemy of Innovation."
    created: 2013-05-23 22:07:29
    categories: ["Opinion", "Writings"]
%}

{% block article %}
{% markdown %}
"*Once you free your mind about a concept of harmony and music being correct, you can do whatever you want. So, nobody told me what to do, and there was no preconception of what to do.*" -Giovanni Giorgio on Daft Punk's Giorgio by Morodery

I've been listening to Daft Punk's new album *Random Access Memories* quite a bit and I can't get past the song "Giorgio By Moroder". It is a phenomenal song with spoken word by the grandfather of electronic music, but it is his final statement that keeps me hooked. The idea that preconception of music was a barier that he had to cross in order to do what he desired. It got me thinking, how often do we get stuck from innovating because of preconception? And, where do these preconceptions come from?

###Preconceptions and the Role of Propaganda###
Before World War II changed the idea of what propaganda was and what can be accomplished through it, Edward Bernays published a treatise on the new age of ideas and truely defined the word [Propaganda (1928)](/media/files/bernays-propaganda.pdf). Bernays' work is something I try to read every 6 months or so and I hope someday to fully grasp the power intellegence has when directed to experiences of the masses. Although the term "propaganda" envokes dark thoughts not every form of propaganda is formally "evil".

In fact, every day we propagate ideas that are not our own. Something we heard, something we read, something an advertisement said. All of these things are propaganda in its truest sense. The movement of ideas from a central source to general masses.


{% endmarkdown %}
{% endblock %}
