{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: "Preconception is the Enemy of Innovation."
    created: 2013-05-23 22:07:29
    categories: ["Opinion", "Writings"]
%}

{% block article %}
{% markdown %}
"*Once you free your mind about a concept of harmony and music being correct, you can do whatever you want. So, nobody told me what to do, and there was no preconception of what to do.*" -Giovanni Giorgio on Daft Punk's Giorgio by Morodery

I've been listening to Daft Punk's new album *Random Access Memories* quite a bit and I can't get past the song "Giorgio By Moroder". It is a phenomenal song with spoken word by the grandfather of electronic music, but it is his final statement that keeps me hooked. The idea that preconception of music was a barier that he had to cross in order to do what he desired. It got me thinking, how often do we get stuck from innovating because of preconception? 

Before World War II changed the idea of what propaganda was and what can be accomplished through it, Edward Bernays published a treatise on the new age of ideas and truely defined the word [Propaganda (1928)](/media/files/bernays-propaganda.pdf). Bernays' work is something I try to read every 6 months or so and I hope someday to fully grasp the power intellegence has when directed to experiences of the masses. Although the term "propaganda" envokes dark thoughts not every form of propaganda is formally "evil".

With every form of "what things aught to be" being thrown at us on a daily basis, it is hard to think how anything can be truly innovative, instead of just iterative advancement. There was a blog post about rethinking gaming by going back to the games before the genre was defined. It was an interesting concept. For instance, the blog talked about turn based strategies (like Civ) and how they now all have the same gameplay and metrics. But when the genre first started out, there were a lot of ideas that didn't make the cut. Either they were too hard to implement fully, or gamers didn't take to the idea. (I will link the blog when I find it. )

I start wonder what other things could be re-imagined by going back just before a paradigm shift occurred. Remove the preconception, and pull out the niche innovation.

{% endmarkdown %}
{% endblock %} 
