{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: "Real Trickle Down Economics"
    created: 2013-03-03 22:07:29
    categories: ["Economics", "Opinion", "Politics"]
%}

{% block article %}
{% markdown %}
Contrary to what the pundits still perceive as true: Reagan-era "Trickle Down Economics" was [found not to work](http://graphics8.nytimes.com/news/business/0915taxesandeconomy.pdf) in a very long 30 year American experiment. This report by the non-partisan Congressional Research Service confirmed what we all were seeing from the bottom: 

> "Analysis of such data suggests the reduction in the top tax rates have had little association with saving, investment, or productivity growth. However, the top tax rate reductions appear to be associated with the increasing concentration of income at the top of the income distribution. "

Ouch. 

And as far as this being the "nail in the coffin" for such economic policies, the GOP put up a stink and it was [quietly removed from the CRS website](http://www.nytimes.com/2012/11/02/business/questions-raised-on-withdrawal-of-congressional-research-services-report-on-tax-rates.html?smid=tw-share&_r=0). The CRS still stands by their research, just not enough to publish it. But I digress.

What is interesting is there really is a "Trickle Down Economic" effect, but it is not on the consumer side, it is on the manufacture side of the equation. In Malcolm Gladwell's [*The Tipping Point*](http://refer.ly/aM3l) he argues that there are three kinds of people who can make your product successful: Connectors, Mavens, and Salesmen. In conjunction with Gladwell's work the idea of [Diffusion of Innovations](http://en.wikipedia.org/wiki/Diffusion_of_innovations) comes into play. Here all three are in the top teir of purchasing, but it is the Mavens who pride themselves of being "Early Adopters". From there the Connectors and Salesmen are on the begining of early majority. But one thing is missing from these socialogical thought experiments: price.

New technology is inherently expensive. A computer now costs a few hundred dollars but it was the "Early Adopters" and "Early Majority" who funded the economic and manufacturing growth to reduce the costs in the 1990's. Still today, it is the gamers, programmers, scientists, and general technophiles who drive the market for higher end performance. Such performance makes its way down to the "Late Adopters", but they aren't late because of hearing about the technology, they are late because now the price fits their budget. 

One such example of this "Trickle Down Economic" effect has been championed by the iPhone. Not the idea of its economic worth, or the inital sale numbers. As impressive as they were, and continue to be with every new release, that effect was in place long ago in the culture of Apple's products. Instead, I am talking about the replacement and support Apple brings to its previous version of the iPhone: They still support the iPhone 3gs, maintain its unquestionable user experience, all at a manufacturing cost that is pennies to what it started 4 years ago. And with the release of the next iPhone 5s or 6, the support for the 3gs will be dropped and the iPhone 4 will be the new "low end". Bringing the Apple iPhone experience to the economically guided "Late Adopters".

Finally another company is playing its cards right, Tesla Motors. They started the Roadster (base price $109,000), then the Model S (base price $57,400), and with a future model in the base price of $30,000. The want is there, and the decrease of price and increase of technology. High-end trickling down to the "low-end" where the "low-end" technology has grown and the manufacturing process streamlined. 

A blog post in 2006 by Elon Musk gives insight to [Tesla Motors Master Plan](http://www.teslamotors.com/blog/secret-tesla-motors-master-plan-just-between-you-and-me). Get funding and sell top end cars all while funneling the money into technology. A great example of how "Trickle Down Economics" should work.

So where should government funding go if not to the tax cuts to insight Reagen-era Trickle Down effects? Besides overall spending cuts, money shoul be put into the research and manufacturing to reduce costs. Be those costs for Energy development, Health Care, or general manufacturing. 

Finally, this principle goes against the vastly popular "freeminum" product in software, but perhaps since the "manufacturing" cost of software is different than physical products this "Trickle Down" effect doesn't work. Would a developer sell a 1.0 release for $4.99 when the 2.0 release comes out for $9.99? Assuming the developer were to maintain bug fixes on the 1.0 release. Could something like this work, and get enough traction to help propagate a culture.




{% endmarkdown %}
{% endblock %}
