{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: New Year New Promises 
    created: 2014-01-04 22:07:29
    categories: ["General"]
%}

{% block article %}
{% markdown %}  
So normally I don't make a list of things I want to accomplish every year, and every year I find myself wondering what to do next. This time, I'm going to give myself a list of goals. Some will be simple and repetitive, some will be long term. Either case, they will be here. I might add more as I think of them. 2014 is going to be a good, long year.

 - Use statistics and data to better track my life and find optimal goals

**Work**
Easiest one for me to hash out:

 - Publish at least four (4) first name papers
 - Work towards translational research of my two patents
 - Take more time programming both Mathematica and FPGA
 - Work towards better management skills to increase employee productivity

**Physical**
I have been on and off the fitness train for many years (mostly off). With my upcoming wedding and other stresses creeping into my life, it is time to get a hold of an exercise routine.

 - Work out at least three (3) times a week for at least 30 minutes
 - Work towards a fitness goal of 190 lbs, emphasizing cardio over total weight
 - Meditate five (5) times a week for at least 15 minutes. 

**Hobby**
I need to increase the leisure time in my life. Work has ruled the last 10 years, I need to find better balance.

 - More fishing, try to get out at least once a month
 - More Golfing, learn better techniques
 - Put together an album of original music, at least 5 songs

**Programming**
This should be under hobby, but I am making it stand alone. These are separate goals.

 - Create at least one startup on the web that makes at least $100 a month
 - Create one game on the iOS platform
 - Create a 3d cellular automata program with input and output points that can be transferred to arduino

**Personal**
This is easy:

 - Get married and enjoy an amazing honeymoon!
 - Read one non-work/school related book a month.


{% endmarkdown %}

{% endblock %}
